body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 100%;
  height: 100vh;
}

.react-flow__node-data {
  padding: 0;
  background-color: #9e4e03;
  color: white;
  width: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.react-flow__node-locals {
  padding: 0;
  background-color: #00340a;
  color: white;
  width: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.react-flow__node-module {
  padding: 0;
  background-color: #4a255f;
  color: white;
  width: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.react-flow__node-resource {
  padding: 0;
  background-color: #243690;
  color: white;
  width: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.react-flow__node-variable {
  padding: 0;
  background-color: #03881b;
  color: white;
  width: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.react-flow__node-variables {
  padding: 0;
  background-color: #03881b;
  color: white;
  width: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.react-flow__panel {
  font-weight: bold;
}

.title {
  text-align: center;
  height: 30px;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  background-color: #dbdcdd;
  color: #000000;
  padding: 10px;
  padding-left: 0;
}

.content-row {
  height: 20px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-row-value {
  white-space:nowrap;
}

.content-row-value-bigint {
  color: #5f0253;
}
.content-row-value-number {
  color: #5f0253;
}
.content-row-value-boolean {
  color: #02085f;
}
.content-row-value-string {
  color: #5f2c02;
}
.content-row-value-undefined {
  color: #025f43;
}
.content-row-value-object { /* this is for null objects */
  color: #025f43;
}

.content-row-object {
  margin-left: 10px;
}
/* .content-row-object-a {
  background-color: #f5efef;
}
.content-row-object-b {
  background-color: #dbdcdd;
} */
.content-row-object-title {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
